body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #3498db, #e74c3c);
    overflow: hidden;
}

#container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
}

.button-container {
    display: flex;
    justify-content: center;
}


h1 {
    color: black;
    font-size: 2em;
    animation: fadeIn 1.5s ease-out;
    font-family: cursive;
    color: #e74c3c;
}

#numStudentsLabel {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#typing-text {
    color: #555;
    font-size: 1.1em;
    overflow: hidden;
    border-right: 0.15em solid #3498db;
    white-space: nowrap;
    margin: 15px;
    font-family: 'Courier New', Courier, monospace;
    max-width: 100%; 
    box-sizing: border-box;
}


.label {
    font-size: 1.2em;
    display: block;
    margin-bottom: 10px;
    color: #333;
}

.input {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 65px;
    width: 100%;
    box-sizing: border-box;
}

.button {
    padding: 10px;
    font-size: 1em;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 65px;
    cursor: pointer;
    width: 60%;
    box-sizing: border-box;
}

.button:hover {
    background-color: #e74c3c;
}

#result {
    margin-top: 20px;
    text-align: left;
    max-height: 60vh;
    overflow-y: auto;
}

.card {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

ul {
    padding: 0;
    list-style: none;
}

.base-timer {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 20px auto;
}

.base-timer__svg {
    transform: scaleX(-1);
}

.base-timer__circle {
    fill: none;
    stroke: none;
}

.base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
}

.base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
}

.base-timer__path-remaining.green {
    color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
    color: orange;
}

.base-timer__path-remaining.red {
    color: red;
}

.base-timer__label {
    position: absolute;
    width: 250px;
    height: 250px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}

.usn-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    margin-bottom: 5px;
    margin-right: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    color:bisque;
    position: fixed;
    bottom: 0;
    width: 60%;
    font-family:cursive;
    font-weight: 70;
}

@media (max-width: 767px) {
    #container {
      margin-top: 20px; 
    }
  }
  